1. Say "Hello, World!" With Python

In [3]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

2. If-Else

Q. Task
Given an integer, n, perform the following conditional actions:
If n is odd, print Weird.
If n is even and in the inclusive range of 2 to 5, print Not Weird.
If n is even and in the inclusive range of 6 to 20, print Weird.
If n is even and greater than 20, print Not Weird. example 24

In [ ]:

import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input("enter the value: ").strip())
    if n%2==1:
        print("Weird")
    else:
        if 2<=n<=5:
            print("Not Weird")
        elif 6<=n<=20:
            print("Weird")
        else:
            print("Not Weird")

24
Not Weird

3. Arithmetic Operators
Q. The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:
The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
example:3,5

In [4]:
if __name__ == '__main__':
    a = int(input("enter the value: "))
    b = int(input("enter the value: "))
    print(a+b)
    print(a-b)
    print(a*b)

enter the value: 3
enter the value: 5
8
-2
15

4.Division
Q. The provided code stub reads two integers, a and b, from STDIN.
Add logic to print two lines. The first line should contain the result of integer division,  a//b . The second line should contain the result of float division,  a/b .
No rounding or formatting is necessary. example:3,5

In [5]:
if __name__ == '__main__':
    a = int(input("enter the first value: "))
    b = int(input("enter the second value: "))
    print(a//b)
    print(a/b)

enter the first value: 3
enter the second value: 5
0
0.6

5. Loops
Q. The provided code stub reads an integer, n, from STDIN. For all non-negative integers i<n, print .

In [6]:
if __name__ == '__main__':
    n = int(input("enter the value "))
    for i in range(n):
        print(i*i)

enter the value 5
0
1
4
9
16

6. leap year

In [7]:
def is_leap(year):
    leap = False
    if year%400 ==0:
        leap=True
    elif year%100==0:
        leap = False
    elif year% 4 ==0:
        leap=True
    else:
        leap = False
    return leap
year = int(input("enter the year: "))
print(is_leap(year))

enter the year: 1990
False

7. Print the list of integers from 1 through n as a string, without spaces.

In [8]:
if __name__ == '__main__':
    n = int(input("enter the number: "))
    for i in  range(1,n+1):
        print(i,end="")

enter the number: 3
123